<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>


<table width='100%' border=0>
    <tr bgcolor='#6495ed'>
        <td>ИД</td>
        <td>Имя</td>
        <td>E-MAIL</td>
        <td>Телефон</td>
        <td>Кол-во заказов</td>

    </tr>



   <tr>
       {% for user in users %}
   <tr style='border: solid 1px black;'>
   <td>{{ user.user_id }} </td>
   <td>{{user.name}}</td>
   <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
   <td>{{user.orders}}</td>
{% endfor %}
    </tr>

</table>

<table width='100%' border=0>
    <tr bgcolor='#6495ed'>
        <td>ИД СПИСОК</td>
        <td>ИД Покупателя</td>
        <td>Имя</td> <!-- Определяем по User_id из Users - и выводим вместо ид - Имя-->
        <td>Адрес</td>
        <td>Перезвон ?</td>
        <td>Оплата ?</td>
        <td>Комментарий</td>
        <td>Дата</td>
    </tr>

    <?php

   <tr>
    {% for order in orders %}
   <tr style='border: solid 1px black;'></tr>
   <td>{{order['id']}}</td>
   <td>{{order['user_id']}}</td>
   <td>{{order['name']}}</td>
   <td>{{order['address']}}</td>
   <td>{{order['callback']}}</td>
   <td>{{order['payment']}}</td>
   <td>{{order['comment']}}</td>
   <td>{{order['date']}}</td>
    {% endfor %}
   </tr>

</table>
</body>
</html>